@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Hubot Sans', sans-serif;
  width: 100%;
  color: #0a0a0a;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}